{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h1>Our plans</h1>

    <ul>
        {% for warranty_plan in warranty_plans %}
            <li>{{ warranty_plan.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
